
main{
  display: grid;
    background: lightgreen;
 
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns: header content footer */
   
    grid-gap: 10px;

}

 body {
  background: lightgreen;
  text-align: center;

  }


  .item{
 
    padding:30px; 
    height: auto;
  border:1px solid;
  justify-self: center;
  align-self: center;
  }


  
  img{
    background: blue;
    width:100px;
    height:100px;
  
  }
