
main{
  display: grid;
    background: lightgreen;
 
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns: header content footer */
   
    

}

 body {
  background: lightgreen;
  text-align: center;

  }


  article{
    justify-content: center

  }


  
  img{

   width: 100px;
   height: 100px;
padding: 30px
    
      }
