
main{
  display: grid;
    background: lightgreen;
 
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns: header content footer */
   
    grid-gap: 10px;

}

 body {
  background: lightgreen;
  text-align: center;

  }


  article{
 
    margin: 5px;
    padding: 5px;
    /* display: inline-block; */
   text-align: center;
  }


  
  img{

   width: 100px;
   height: 100px;
      }
