extends layout

block content
  h1= title
  p Welcome to Lets Travel
  img(src="images/beach.jpg")
  - const name="hanna"
  - const foods=["cheese","burger","hamburgar"]
  div
   h1= name
   a(href="https://www.google.com" class="button")  Link to google
   ul
     each food in foods
      li=food