html{
    background: #f7f7f7;
    }
    
    
    
    body{

    font-family: 'Barlow', sans-serif;
    background: white;
    max-width: 80vw;
    margin: 0 auto;
    color: rgb(49,46,46)
    }
    header,footer {
        background: #333a40;
        color:white;
      padding:20px 10px;
       
    }



header li{
display: inline;


}


header h1,nav
{
display: inline-block;


}

header h1{
  width:70%;
}

/*  target/context=result    */
/* 680 /1000(body)=.68 */
/*width was 680px changed to above calculations for fluid  */
main {
  width: 68%;
  display: inline-block;
  padding: 10px;
}


aside {
/*  target/context=result    */
/* 279 /1000(body)=.68 */
/*width was 680px changed to above calculations for fluid  */
  width: 27%;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}
    ul {

      padding: 0;
      margin: 0;
    }

li 
{

  list-style: none;
line-height: 30px;
}

a {

text-decoration: none;
color: inherit;

}

a:hover{
color: #0e6969;

}
  .product{
   box-sizing: border-box;
    border: 1px solid gray;
    width: 30%;
    margin: 5px;
    padding: 5px;
    display: inline-block;
   text-align: center;
  }
  
  img{

max-width: 100%;
  }

 .button {
   padding: 10px;
   display: inline-block;
 }

 .button:last-of-type
{
  background:#0e69e9;
  color: white;
  
}

 p:first-of-type{
   color:red;
   
 }
 

 /* product details style */
 .product-detail{
width: 660px;
}

.product-detail img{

  max-width: 50%;
  float: left;
}


/* position * example but not usesd/
#position
{
position: fixed;
top:10px;
left:10px;
}

*/

/* contact us page 8*/

form {

  padding:10px;
  margin: 10px 0;
  width: 600px;
}

/* all child div inside form */
form > div {
/* 10px top bottom   0 left and right */
  margin: 10px 0;

}
.inline label {
  width: 100px;
  display: inline-block;

}
input[type="text"],input[type="email"],textarea
{
width: 400px;
padding: 10px;
}


/*table--- marging 20 for top/buttom 0 leftright */

table {

  width: 400px;
  text-align: left;
  margin:20px 0;
}

caption{

  font-weight: bold;
  font-style: italic;
  border-bottom: 1px dotted;
  padding: 10px;

}

th,td {
padding: 10px

}

/* table row */
tr:hover{
background-color: #f7f7f7;
}